*{
    box-sizing: border-box ;
}
body{
    padding: 0px;
    margin: 0px;
      background-color: black;
    
}
header{
    align-items:center;
    background-color: green;
    height: 60px;
    
}
header.logo{
    float: left;
    height: inherit;
    margin-left: 2em;
}
 header .logo-text{
    margin: 8px;
 }
 header .logo-text span{
    color:aqua;
 }
header *{
      color: white;
 

}
header ul{
    float: right;
    margin:0px;
    padding: 0px;
    list-style: none;
    border: 1px solid red;
}
header ul li{
    float: left;
    position: relative;
}
header ul li ul{
position: absolute;
top: 66px;
right: 0px;
width: 180px;
}
header ul li ul li{
    width:100%;
}
header ul li ul li a {
    padding: 10px;
    color: rgb(69, 68, 68);
}
header ul li ul li a:hover {
    background-color: #a1a1a1;
}



header ul li a {
display: block;
padding: 21px;
font-size: 1.1em;
text-decoration: none;
}
header ul li a:hover{
    background: rgb(0, 255, 0);
    transition: 0.5s;
}
header.menu-toggle{
    display: none;
}
 